*{
    background-color: aliceblue;
}
h1{
    margin: auto;
    text-align: center;
    color:blueviolet;
    text-shadow: 1px 1px black;
}
.mapa{
    text-align: center;
    margin: auto;
    border: 2px solid black;
    width: 300px;
}
img{
    width: 300px;
}