*{
    background-color:powderblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h1{
    margin: auto;
    text-align: center;
    color:blueviolet;
    text-shadow: 1px 1px black;
    padding: 15px;
}
.mapa{
    text-align: center;
    margin: auto;
    width: 45%;
}
.imagenes{
    width: 50%;
}
.img_mapa{
    width: 100%;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    text-shadow: 1px 1px black;
    color: darkmagenta;
}
.img_municipio{
    text-align: center;
    margin: auto;
}
.listas{
    text-align: center;
}
.div-todo{
    border: 4px outset gray;
    margin: auto;
}
.boton-volver{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px white;
}
.boton-volver:hover{
    font-size: x-large;
}