*{
    background-color: aliceblue;
}
h1{
    margin: auto;
    text-align: center;
    color:blueviolet;
    text-shadow: 1px 1px black;
    padding: 15px;
}
.mapa{
    text-align: center;
    margin: auto;
    border: 2px solid black;
    width: 300px;
}
img{
    width: 300px;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    text-shadow: 1px 1px black;
    color: darkmagenta;
}
.img_municipio{
    display: inline-block;
    border: 2px solid black;
    height: auto;
    text-align: center;
}
img{
    display: block;
}
.listas{
    text-align: center;
}